DB_URL=jdbc:postgresql://localhost:5432/hrm
DB_USERNAME=postgres
DB_PASSWORD=1234

//IPv4 - bo dong nay
APP_ATTENDANCE_TRUSTED_SOURCES_0_CIDR=
APP_ATTENDANCE_TRUSTED_SOURCES_0_WIFI_NETWORK_ID=

//IPv6 - bo dong nay
APP_ATTENDANCE_TRUSTED_SOURCES_1_CIDR=
APP_ATTENDANCE_TRUSTED_SOURCES_1_WIFI_NETWORK_ID=